* {
    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

body {
    background: rgb(201, 201, 201);
    background: linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(231, 231, 231, 1) 20%, rgba(255, 255, 255, 1) 100%);
}

header {
    font-size: 20px;
}

.graphic {
    background: beige;
}

.graphic .rectangle {
    stroke: navy;
    fill-opacity: 0.4;
    fill: navy;
}

.graphic .triangle {
    stroke: red;
    fill-opacity: 0.4;
    fill: red;
}

.graphic .quarter {
    stroke: green;
    fill-opacity: 0.4;
    fill: green;
}

.graphic svg {
    height: 300px;
    width: 300px;
}
